.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
.dropin-container, .cart {
  width: 678px;
}

/* Cart */
.cart {
  width: 100%;
  padding: 16px 0;
  margin-bottom: 20px;
}
.cart-title {
  margin-bottom: 20px;
}
.item {
  padding: 16px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px rgb(182, 182, 182) solid;
  border-bottom: 1px rgb(182, 182, 182) solid;
}
.item-image img {
  width: 100px;
}
.item-desc {
  max-width: 300px;
}
.cart-total {
  display: flex;
  justify-content: flex-end;
}
.cart-total span {
  padding: 16px;
}

/* Success */
.success-return-btn {
  border: none;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #00112c;
  color: white;
  transition: all 0.2s ease;
}

.success-return-btn:hover {
  cursor: pointer;
  background-color: #1c3045;
  box-shadow: 0 0, 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%);
}